desktop.ini
t1. year.py
t2. random.sample().py
t3. enumerate().py
t4. insert().py
18. cows_and_bulls.py
19. decode_a_web_page_two.py
20. element_search.py
21. write_to_a_file.py
22. read_from_file.py
